.container {
  display: flex;
  padding: 4rem;
  height: 100%;
}

@media (max-width: 1366px) {
  .container {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    height: max-content;
    padding: 1rem;
  }
}
